<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - CHANG HUN TAEKWONDO</title>
    <link rel="icon" href="{{ url_for('static', filename='logo/Changhun.PNG') }}">
    <link href="{{url_for('static', filename = 'css/styles.css' )}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Navegación -->
    <header>
        <nav id="menu">
            <img src="{{ url_for('static', filename='imagenes/Changhun.PNG') }}" alt="Logo">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/Acerca_nosotros">Quiénes Somos</a></li>
                <li><a href="/Beneficios">Beneficios Integrales</a></li>
                <li><a href="/Horarios.html">Horarios</a></li>
                <li><a href="/Galeria">Galería</a></li>
                <li><a href="/Contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->
    <div class="content">
        <h1 class="main-title">Nuestra Galería de Fotos y Videos</h1>
        <!-- Incrustar el álbum de Google Photos usando iframe -->
        <section class="content">
            <!-- Primera Clases de Combate -->
            <div class="photo-gallery">
                <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
                    data-link="https://photos.app.goo.gl/QKPqSAsoB1pUbYgy5" data-title="Clases de combate"
                    data-description="28 new items added to shared album">
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPbzYYaDNoZT9aLD24Qnap5SsWwmreyvC8rH8OW-uf_l4gNmmXBwE4PLbC37kDbQSVlrlxybWIXcHCb7kZAp3h75Za-f2nKhkPHfYWI8QSWgU2DyHE=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNRaZYd5EOV6LYUuXoH9pQVPTd1Y4FW6qDWuOhrzBqMyPxKVwL4PPOBf3MSKwLFVUV-GEdopc0DT7QwYVMKcZ7rHp4BCAD6Ejc0Cad5FVHZG0RevlA=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOagpEVfBzCI3TYY3g94XQLHM_2q4kFXuuQL0x3WU_UDVQO-QnXoy7kOH63dvwabfFfu-DHzVePukMewqErKuur-ojTDjWia8bNTzy-cj72HDdbAWQ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczN0PiPnFoxhfmVD6sqMP83T9TfrU3PxQm-55BGy3cy2rc432lQgjlqjkIjsO-jYX5eQ97n5rp4N3_xnykyzrcn-eXTdhFcbtcp7b6XhNm-8-FTq16w=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPE6oMbM_ilk2ZXcRW5pBw_QBa1muaP_jZyAh_hggJion5WkcKpxN8UMJkLZYpgR8dbWUVEkEuAlOAOlITEWPmy7zKDcv59NKbqiKCb5oZ6fVItldY=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPwnO4j08W2D-cH1YSYlMBEdShm6OsGUv9fCc4RfhTrjQbN77AKbW9_ChyhFvfTAlu_KP5sdSEpC_Z2jGjXlU1B67hcsz5MG6K7Ms11mJ0ItcPG-A0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczObpH4RJ9xDnslnZHscAglwUXE7UeTJXMJLiDQkbIxCSDUf-YqFd5t49nEfGoEQGbCvO0Q1bta74aw0awMTE1e6rosm_sR-7MhAsG4ktUGj-qrLXN0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM-51kKq6C3rzrZr1EqaoPSbZVaJjZN5RCyzF1OaE4SM0nvPKuMQvRGH1q_LymwChIl8rYcnDrxThX9BPGQcNKBTiIhrRH3wHqhpJMqPBEM6XdBRds=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNZX6FvoMUcqFROWJ_KcPsJHPKDQWmR1f3ZiGllRqj8_RSEz7yEpIWrfNAaU9M1ciNWNadkLfRC5fXykulHwlrAgVKtTkTqfcGPkZVX4Yww9nopreY=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOo7DC0N7TzQ1X4zi5yX5uv4NfBWLcDwHzbJ3T7G_g8v1RKM-M9BWForOoWPxHuZhHSYP2R1XifmZt9Dd1eA57BVkT4rL3OLXxFzbUtC0tW-UOc1QA=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczN6u_sggQesxvKHYz1KgdDjlhbs59ISaKKX7YS4I-d8NIfg57yo4HjAhDiiJ65yGQLqoNjqbGnfCjCnJEd8F6FfhdgACKnbZKElPt2W9IF-Zv3jUps=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNOt5l-QeGpu-BJ34y5dlIvCNYGIPRMtgJrZ33kCZomfR8ag4qeJnboAQu7EDgCqcwvo03Nm03uUIBAgqhFt7fqNUIlf8eoeljmV7eJWTgIukNoPCo=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMANzUCr7uuGp2nE7PAGnvFPIzo7lJU60VyEuKu88yQhlHd6xb9IM3mmLRqoiJPwS4gHY0ZZaTI2L8X9YNywz8nrdp3YzMKr_swPBM7-wphMGtHyhk=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPlumG1Y1BoulIzgfO5bnTIkS9IkPC6vlKAylXhQkoBZTetkWqHNrRuvgbKka5y6WYCfRCyEcTy-0Iyw4jG6wYXFRRPhI5oymy8MalG7KIl5BcRbWs=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMSvYm19Edgl-YPdjZJWVKBJtaKKDeDuEn7tjx5nry3zUZe7j5RLA-5P4zHvPhM8qTDbCckcBWnlsy6HfoldzhydTq2uInwzO99CdNrw66rgQG7Yf0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPWMd9zenXRpnPjtXtAium2SKHNoB94cSno4P4CM4aMetivil-PLFNVeHalYi6mEUpyFKQR2IbWbdfTxnU7npArdzT_AzEhhEjmNjw3IP6wAdpckoo=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNJMj6jZOBHNnz3yaLPtoIoB39Mbem0LsT6RrjpbMdwGCUIsjrNUf-f9TXG5aGLK-8B8hTwhnKEdU1JqA_ciDBWyow_uxln92uKm1Bq_QzkuZo4Qs4=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM5GSCs0OrIulZf7Q6YMLpq7KkfrJziZF4i28ybDXbaHje1WjRwapS-t8WBFlPWqyRlT14C_YHZ9yOKJHVo-FxgMpQUI5C5bNmQh0omWSympgt9Ch8=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM0txHmBqws5fBZKKmiNXhOag0wPkV4B9Verb0xZ0KrScGeWbI0Ub_o6Xf9Tby-hCBJeNEipDGvFJR3EvEh20ALBx-B3I15FEroYZSqqdiGWmKLpho=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNkq86l5VFro7bBfD0nOgJSexZ-9WjfAmfbymPLZgc-CWJ2GkMPKCcKM8kuHUEhwNY3ZByj-AIIk-9ZVN1ooL_xkh5viJ4YF0M-g3xB2Cg7ga6OR_0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM-xbt3SrIqanHKqJBY6IQ5TkWDyrvsSast1WoHm4HMpJfqTg6gP5fmxMGEKyRtRSowiwSTTLEXxncjWW-R-t5DXz1zTNTAeflAhq_JBccUd0vct3k=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMlh0m7c1BPaqBJhq3svNwZLfbjnpQF3KaeDHUauu3TYj8WFoD7lf1c9diknwXywsHu2Xt4WLpD6sKlRQgDKIGqxC4mP_2EM4ie0T20zFb9oKyNfXo=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPtO5S8GKHs30wjT23RwsxTgXJ-r9Yygypgujgv4gt_VN9C0j2hmgvcava1JJzY_7WLF9b_JGIbMqrc59C99jlqjcPw85essJodM7v494C4mf37EY8=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMl-DcUkl1I_zddf1VK0SqmG_86VJYsFwtD1jy9sFmOkOUoT1BvW7oK7lKfxTM4cazyFj04WA7oq8XOY21slK6lA5fABN3Md37dyJ3AZISjKiR7_pw=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOj3a0WZFhBsuS52Q12FZUBocwC-RvIr-dmDUZFu-RuD0YzQOI-o3aVRP-C__nsVGCwJ9TG_kz41hIQ1z5QZisZz0v2jJkGaYxDzsVCUMT29kmWMuU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPV6p0NQXP3aLKnprPwQOqh9h804al04HgJY0fp8-aidZwEdJriDoNLo5mdY6bRAY4Nv_0bi6qClkNJHikz0zMZUMRhCKwpDZpyPwJMWSf2UDVugWY=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPGJmIcEC-6kZ4yo7Z6kGZp0mQZgQg6j6WNpg2aFD7FhDjwBw5_N2iPCXAXdfSPfZ8WErhaaPkVNE32AzsnNUwOxH5PNzhfU743udNeo0rlNztrpaM=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOulIyirYX9QBUFH7wmVXAqp7CpQl7oH62YtZyh8Zu52j25j3TygbBjR-u6Sxn43C6eB61WacodwjJrJ1sgXyOLfd0VhWzWiDqGRh-cxmBb9sFw4_w=w1920-h1080"></object>
                </div>
            </div>

        </section>

        <section class="content">
            <!-- Integración con academia kwang Gae -->
            <div class="photo-gallery">
                <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
                    data-link="https://photos.app.goo.gl/e78sqDFaabwdm3ZL6" data-title="Integración 13-04-24"
                    data-description="53 new items added to shared album">
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNqzaRJD6tiwb8ua2jN4mkYIQLbClme6CwrrbI5vh9fKXiajui9iVjOrYMUQp3v41rkZ8aFY_TZ_HnBIXtxHKtKP8T3w5aSjAOSsHc9VvXJj6Qr1dk=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOIVrA_54FXXG4yu2dlmRWXIaqwyP30BAlf9Pvzk8EvJnvVZ7CFy7LLXjzGJElw-d2PG6RfIrRi1FXbR5I__01hxjMCaZ8ic_uiZDn-KFT-0IiOo-o=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMO8macg-yKZOse5g09OUQ0YQLgESluM5Q21C5tjxd2Lz-cqR91RxHKkdCNd4RotmH3qwCyEV6cZ68bxz18ui86w2YxNqu_6FSjygjFT5kPeSF7CT0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczO7l5w48dgt7BFi6QA0r-IIht2e1wSS8RFznkaefPxW0oU1RVW8KKLWwMSyQ6O4ZcdnyyLNNF_yJIax43GDkoIjXBRt6LyIR9oedrNeW7smJ4G2gnA=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczO6oeJ3DGz9weMNO5eTOj4ca6ENUF3_u7DaEgMbnJ-HVcUZ_AZXswlXZ4Ov-Mf0k7HuwbYHTaVks0qPZw-uoGl-EKVbDwdHJQPUuudMiIOXG8x-hn0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczML3q4qaEdcwf59bMJDTJjBG3zADFmyamEmJbw5buAcpzO5EssZePcfrCxj69_mLd-MlpXG1gwL1ky_ci6o98vvBQuxrkuPvO4ZFj-cn1gfSGOf4qU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOZR4xNzkLYYQ9PR5yVMDlIf9SuJw1BUs2UR-FLUnx1assgkJVqjmzQHeQtLUR0tQDTsyC8ybmOVI11pYMCoauv9PeveMNRYxGsvpqUPTrTG4dgmIg=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPYLRCEB2Peu-i0W0rNPgvYfdG5w1JWmMoFfkMaPFj295v4-go5FVzC-xf_zjrOjpADYJVSLDyfL9q9P_2QkOZdMGXKTk-72MMIFAR03tJRzTRJYSQ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOI23JSDo4PLZ3YWB1dP_BEzUWrASvx6Pya_mvQTatWUr7TOGV0gR9VTyFTNJLfbdwrfau42250i15_WoNSEBXGe-6xxIW-WA2Q0FptSmF0oL3Yg-U=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPUsnfHGuzngK2TV2TqaXoDkB9ArCUfxvp5q-8jwq90Va3nbLl4BfGvTDUG9wNNjJ1DA26Z2Z8cJakIKVCngAre0S1UE5NREtYFxS9GqgQ1Y5F6Zb4=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczONY40pgKeCUBvQcSE0dSzCHqldtgR_Sah0SL6u5p5S0oNTWE8J8V6VUnYbi37-P7t2JaeA1akt44j9sK8chsO8qLCaLul8Jbs_R5ORlfqdzcW7-xk=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPw0VRujb9r6rJqmfgE1d7zpeD4DKMpdQtnrJQKgL5yKsfI3LlrXdy1CJYZRXFRiPqDyDoMo8XrrwuPnQon5ZKMWt4Lsskr5Z_K3CBy2zBjichcokU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM-3u3QZ9o0VIcaCymXIY26FtAdZsv1eMH_vhs7ZtqY_8XjMHLcN29YfUjsMCHgRtjvw4HWehLnZ1tYfAYKpLVhsd5V6Eb8WSbc3rvd5od8ygw2Hww=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMmBRBlP2-IYwWwJmCsJtVQtjQ2aN72r_he9STVs49EjThQMlUiXpXaE0DyLMNZHOaV_Jw_XHTSLaHnkj0ym1A47kahqrEtgjdUK3fU2kXCZvoGxtU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPNqTw1QPMVHgcZvx3NDCrogtFrr1cGGCm0E_dzZwEk-oNObRgpi5PKu8_p1TIe64P-oa3qy3IqMxfjZtuCm_CKkPFq5ogMRDhO8gIO8aA_VQh91_c=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPHJOVGRkb_cr45CQjgMHCu9_KD5HbUNSy-Uti-oFa-McrKRrMgy6WwbH9LD4VYcWxh8EPkG17fJhAD6f8qZOlNOKG-zDGwv2UPYeisFqDQEBpOa5U=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMe2s7-z3V1cYuZxciyBVGWwF2mS9oGeR7qFlW5s7RHxMBBd6AuT0PTfcJBnSmUg44p60N1iD56z504Lk3Ixj2oU4t0EiexdA7qYHFIjfcWbizIG34=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPCpy_prJB4BIaX7a-29aAYQm87gVFKTtCvJz1NUneAZJIYtqpWTncmiu39uA3R-ai1JgdP3dSxnV2XcZK6SOy_nLSvTr_Pmk-8m-tK5cI911iWHVU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczO5JDjSfVzQMX3EOFv42Th2Hc1c4t3UcO-F26JmdcSO5RfyZnnEq7a_WII4QBjXyfK_WlqlbG8AeMg4ETvV_0AiF-bX4pcPwtShNCg9SnRGyjdbu-g=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOJejIQtd4FyBP9k1P-gxY3vjncF-41bsLHi2OfeNm4GwMtuS-ZutPtEKXX5RzBIlalPuPZY_ltn-0YuRCQxQt-dEX7pvjnV3whw_0WLdb-qMSgfrQ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOEIPlEu_PyZ0X_8C_xAGB3p7X1-TtJ_V1rrvRXSF6yDT5Vu9z_F_ovXV4rdC7Ig4Yffl9z4j7qbFYRa_geWxHOj3l_oNpBOJdPhP5RQHsZQ3vWKhNX=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNXdTeAHpaU0LE6P9iFus2uk1DPlLc2kL7BJb1FYRr408WgB_m7bgJKTZpK0js20avA_A5TMExdqb-R3P6K1U756yGV5H6u-srTBz_IUEXRsZ0UBWA=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOV-Im8zkGrBqXB-xJC9FDPxxq6J64zTEOiqVBEzz2MgN1yIa_DSgd0yPkMArayXq8zg7TZ0AZcTncptB4D7g4fvupCOEpdgPIR_ZVHsKIJDu8LE-A=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOg8YxnlJIvulfuF_-NUaLCU5twcNXyTymESdvWJdFz7DTh6Cl3G-8IZcdzOrKo4MrSfaHf1_6oKmPonWlfiaukqnJlH1d-hTfZ1wtoGq1F3oK5ODU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPdkMJilYoFu9fKoSzWIYk57qpnR3tElMNhG1x8l6wWBX3le0aSMFMH9SpiIQny6H6uTD98lCRz6gvd2crzZtMwFUpnLmHeTzLNRUQWDSst4TgDcriR=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczODd6RqfXTGtv4OVMt3bCwcjgqSDy11FVufc6Mio0aD6GYGpWzNaskpuZGtFtiHgMm5C9iPk_npH8cT8ByKuTULY1EZDxlRb41VYGrau3ZtHpERIoU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMRZpFP1W3u5AcpybRWrGMUQZSNB7twOJcR-JCgObER9qEZI_pprNXJ9sn8mJihEim5X-CfO_G_EExUda9ZC4yTr1padNTdkPGASFwN1V6o_9vf_sMx=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOHBslDkirwHJGsryRAcMKhjGA5KyYJmqCKZAQ6VMjF9S8k-fFFB8hS7waAHsqJUGXqrgbj63ZCDzjB94nPBGC-bv_JReFRnfQXmFeO0pAFiLHlWFs1=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOH8jvA13UvaFIASKws5yMYC4JzQp4toDrFPI_hbwxLiGE7ajVpXjbP5pmHpaDhoW4OdC_2EvGoKnD6mxur7UZJnqIe4jMJq3YnMBZizTIiN8zGKe0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczO1t6v58OjsEKZ-BVlGeIt6nTi6G5JGQjdyOu1YrnYOQjC_Jrrffvp4S2BlbLencpUElP4vGmiSKUaI0pGvnJlwrOwWPYzHaqeFYxtwZQfKt4OW2nIT=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMfTeyKMbELT_8jjQvqvAJgIDFU8nJ5JN3h7JnFByUYm1XyksOUe_K3ysJwqU-f-a6dJjWDQtpy5AHH7TlnG256P0o1jTF3SoVAYKQxahLne5UIjWg=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPh_PiWX8YOYmWmhXD3TeTTiySLvzsuRE4j9rybdHk19ruAofx7k5-2VfqBtFCx1qeJ_ScoApDsq09wlObVXzV28Kpkt0cx8BJPE1mhkBL20Z-FtpI=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMQhQSuvabuFO7O6J2iveGptrOkZqX--DdlP1c61I3RupUCPJvSBNqpcTuYLRmBh9LWAwnTXWZYCpIxCcwGlPsIhDHzibEVnbCbtPk_zIavIIbgITM=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOU3VW-EYZGxuN93iVuuHyQB33kNu-kk-Y8X0VRxsu3zs3GtmmRxHVd__6oFDtftgjbPXIZl-qW6JR01DjUrYyBpGKulJf9wwZA4INXnn40fVidbSQ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNnQ5vBjjmBYXgcy8s6pKm_rCxLOe5nzDkpLDzwm7D7wNZPrJR-C8ixyvaQrXp7D-BU1cMmkHmw9pKuPCTBQI4-7S1D-QTkICaaVITbxszCnvKW1Zji=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPCaixZBDESaeyAmL_yq2_rRQvt-ZUGM_P07Kam-EoMuTAMH_qh2nWieEAvAtyLV9zg3dT2OSTngSDkacJfsK83Klp6mgdpdhetGM-bCiOG9KhL6hA=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNTbCfR4hG_Fw-kSr21JpEmj-j9WwwultwFjR5p8Q3c8TZS2n_RCQZsnxwYDNww1_mbhWxbhX0cHV9lvpw3_JZpRw55JXH8U7IDSF8YLALvxqV3JLU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNvuxzBE93DoZWZ-eoucPh92dD4YvE5kRyouQInh73rMA4DD5xGR9xgREF5qYMtgf71iz1xMB-oqFGd-HxPh1YTeZi9ztNfXmsTct8lPt8AV8HefMA=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOiR2jyrXeIYq-Vs2JBv4CB548Xkc7tLevugFyHEc30YVNUpfTK1Lxr7qTN239I9f9lOjBPzSDcMBeePDPioxSbIuaFwYmoCV5v1XxPn0FXWY8Cqa0=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPDiHFg47cIxRyGS8qki1ewXTvh94e7mhuuMZ2D5CGKJuBx6dyco1Wbqpkxpax-xYddEcoYbiXKS1cOjxQDrp_uqwTg9e6at9s3_qsHVQxVtn5NgXk=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOfc6Umerje9Ulvf1ohMrZBixCSTN_XHJkNaH3dmpC04LzsLb5tEms_U0KIZKhhyqpefeiHl2wIgs0PNWBmgMWra9062AmXPr0wH6r_qAL4HPoQ6HU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNdwdn9he9Ym7liUnHEUHnz2Uhbpb3uKHy5dMo8ILXsyL1qlBri9hTDMv9YqoZ-UKc0XXiKnveV5CX1w6HU0C1I6x9DE-eLHOPc-iAZQ-LkY3reFi8=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOGKKwd5F9I-AXH0B97h9EgvJx6hWupN2RztjOKTbg0G1kqjnvP4gi-i8XHNMrWxix8NwFoL6ASkVLgPKYR1gqr3cqa1UzZaMMbyVIPSzIzgq3uzJ8=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNa52uBjq55GBQfM__EXdKdQYn-jKs3w2glS6Qvo7xUhniU6ilYkhjsjCinQqA-yGnyiuIt67kKQy1j8YO4fJirfU-qPJT1O7RMfdPSlur6mhgLFwA=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPFbxS-8Y3v-JmbqA3Y4jzMNMNIaAhIIp5payfLprK59E1_l_zxsc1PWiKYalO0x8dEfAlatZ0X0_dCR06mpS8YecFmF7oJKe2X-Xd8140fhK1ouXU=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM3lp3ThRq15i0xEIylXUOVoytRMqZTDpHxj_ece87oN-aLK4rb8Eha0VKN_wzw9y2Nqku-ps16g0pqZ0jJ4f9FOolYF2cQrdDQ0kYCcbxaNE5e8m8=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPyXBGmRKgEbl7MWf4rFZ4NOVWSkErdmMdnh9jEoUMsNU7kMz6GhLGRujKpjLFWDyBXIb1UWtpyDNnc-7fLxmeCOQnHRF6vjCPDusHD7_LvDAs1YSY=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNFkbaKyvVm0ddthbGorXCdZjE6amMlO-ZYAUe7L66IlNoFAPuuj5TduML0R-7P09hlOOKaPdaZj30XpjHgquxYYW8TzgLMAOfd68OOdXCkJmKDeNs=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPKqd1ZtZR5wwO2Oikl_i8Bix93L6ixD9wkOmLGDNGWR9J0nirLzQPMZyvHmbB9iEPO_PtQMLBW0f70Ys7irMTc6ll0WvBBda43N13CeJjRJJVGgkg=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczO2opgu3R_0UOpU64sLu_PDsnxJx3RU_NYb8GqhTxXqJXEU6l5ucY_ozHw4q7sVXHLwP7kzqC5qDEeryWrdkphsJc5y4QsUWn0KaUTNevMgvPeYEy4=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOsTos8ENIr79rXLQQQmqsosSRmtQHUU4ip6XnalMR4l7FDa-BJzSzPnPBcuCzKF1vjjQFdul2fLD9qGbWl9DUaUFdO2baMlobRkL7HcuzZ4s_07hg=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOglLTdOgHn_5Fr4wjXlZaIQKtvOlXUP8E-cDT6f7FiDJBTA8YSEt9dTCMflJWY7v7sx3nm-veQINQOFL1xCNAPVHJYavgZcKjMHxuHKTzzIJufPQI=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPNHK1XQsQtS09H9S2TQEvyXlN7aKgal2-1q6P0bRN9fzN17GgxD0REAfz5Gbr8eAGk1MGgxvAXJykknQXYp2tI1bWxRni1DdJSTYKB0ZgxJf1rxz0=w1920-h1080"></object>
                </div>

            </div>
        </section>

        <section class="content">
            <div class="photo-gallery">
                <!--CAmpeonato Nacional 2024 -->
                <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
                <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
                    data-link="https://photos.app.goo.gl/gJmSgfog9R8WC1GQ7" data-title="Campeonato Nacional 2024"
                    data-description="61 new items added to shared album">
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM2ymtfpWc09ZYIIK7ricejLnMoDTrzFdGrWN-3W5SW-clbSG1OXTHefdJciJceazBkJbWMKQbglY6fRrWJsiVRO-5elE3uKiNRimFpO3hkP8-xEobc=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMn3KyBonTuWgLgtrlmBMz7Do5AzsIkvfyMlySwU21G0Ug7wHBgFoFZmbn3OHqx0ghE-XCRdd_-nUUG9t6SnmFmCRpjkB10bHcVnTPVHP8TiVX1mDBT=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMltmbKRxe7n5px8iSQMTFrQTrLTu2DCM_BhPzkv8FsZf0Auq03mNe6N_ALQ3f8Z76x5BJNtTCKXvi4odeKse47lcfjcLU2Quc-cQl9BbZvJPmRR6FZ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMlO3TExUxNJoyZEwQZQqZ6WqfwcdytAla4Er6M_xaxmdphYHytcMw3WtyG4-iyx9LxYXp9mDwxCo53kZv2Er6HcMwOoZVWMTH2C-G8yZSbKq8Cmv0O=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNhhJRPpS8kl1_RVv0QH_0c6zb5aSTnX19Gv-paghhf3Kc5qsk44pkDKeQ8_c_8xfuNK9_hqo4n1vJjRU-Usr7nX_w5Q39A8BNZPxDO6oXVB7ooJaIY=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczO35RnFgAyyP_Jeg6bRdmgJxUL2fjKctKhFmE8B7YpoJn12AR9gLBLUGiQMl8_kEo6lHzs3CldE6itlm7MrmPJZUMsySkcGu1vMxnccblJzm7wpD4i6=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczN4ls8W0Zub5oJh17lFndqaqKl2qHNbn-_vNcQbHI5-gNl9YHRH4p8Dta08_4zbj7Lnb5NdQyGExI_3Kk8KZtycWXbfyVSDdN1MsNXqhq7EP_QapzrI=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOOSV5bNM6Y7E43OCDUNuOATMZBPge2CAwimII-2Nn-w4Tin7v5af6yPz6I4nuk000ipoWjUVVHhMOOMmXm9lnEs3l4e_ORgRhKiTPyvIXoMyXBaSdx=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM0ToNCZutS7QWoFx_fONOf2Nh66hj-M0LckO4sj_gtZNAFbfbLmx-VMMu1vLdJRGMkN4DiU78zz1pCgBjq6NE2q4GKPqEec14CKkv9DgqJkeg8lzmH=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczP9EK-5bF9WzcUlB23ZeSiIpt51Dz6ue5h4OTdTfAM-yFoHmuoVBKvkgBGRQPVTsWJIYatmVNnCIXRC3bfPZmJ3azP3erpKFi0i_2JVsyHMbJHnUMLq=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczP2vbouTkW5CZCEzz1ik5AnovWQjkmhewSK1NbQ51Bf2mmC6lW3wbaZqG0zEIbHTB_ybj5Xh9sNHXKqZrBOnHgVEyuJdbOIoQuvc_6PRfJF0ltdSEVc=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOHbRiMw2D30TjZ3goaNHU5c5W0blZo5c1vUBd6rFCjq29K3VI_HBlCpkl8YQ7FeLHwRICXuF7afL-Oj8BfA0FftGcGPQvxq44QVpme4FrrwhkMkDCk=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNTdEP9rbqwLZLv6IyL6OFWje5uHbNrLgsKcMersVx_7dkYrHzdMF2DKcYSa13kejQ3ATK9NvU0DK-2GbIUxsDTYAJ_nz5DT_gVHExburCr8FWjY2Zy=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMsW42xTdjEWNk_weiIjROJRm8gG-yVAZTw9WVBvrgkOxbTQ1mMXicMe80DrQ9xVnz60xz_GGbeTyZwGYrTPBNIF_-tsZHifDfiXJDRWEFMs8LJB_Re=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOCwqnhpC_e0WPP41igd6pSmSuYrZF6MPuFfaBfLXGs1FZ_xOZTNlL1G0nIkWqZphQOzPX89_Dbl25bcv7cvj2UkR6_9RzP4vkSVAIF0jcpMrAncTts=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPfn28L6cia36YV3FoHb34PySK1eBqQGVA5ifGddW0dNZ2nLLNVS5PqAMzdhSPtDgeB1JjvPuqW3AO9sgQjLAU-kOWiG9zHHySd9ZSWvfc-L2AUW-sQ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPRc1_moxaNfOza5jOmVEi9Lo_X2HR4ilXIeJem6e8i_6Q41ETJT_5qf7HhpYZ57ovKSqmN6J0KITjqPIchoP8ZOfjqHrarx18fv4BkQBa4VX5IxU2v=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOPfGNFJpfV1gbJCl19weOrFSK4ZmdUDorzCAWt5xs_YH5EVtRhV3Jyt3G3pLny3HT89Q88M1ueFjyU5_J_mcZB_LVGdCRGOsa4z0uk0XxEeoID5cs1=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOvMEzZbCQjqSpJqnsr1F_eM7HsH0GG8rnmz6ZlZwnob0qRGKQXip3-2FWqXbukbn4UorjB4AGIycnyG6d1aG29KBnMXbrXobDegzhhAVEbS1DaJoWJ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNVH9qd9WeH0isPQIkQSR4irVdQ3Fwgt4H57NNRgZJx8fODBBmgQyEQebAm-EmvNjehR85lozSgwSZNVwgctCN0UxhOT7Q6HpOhHTyzVTLjulIIDqRt=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOeyO-p4S2cyMXlxyHux6XCHQztlQuOfjVnfiZvXhvwij2ulD7clmOULn-s2Rfg0Jw7NIWJOPNUdRK-LPTn8rOxsVMpeiVk4r0IpeCYkzCd9gj7E3W7=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPna4FCfvZT9eLTfi1ivDm6qduNrv2ib687X8GbpceRmzSseARKySztiYRDLMDoCfI0-4Nq99jGpXlT2JxGw-p7uxy_iFtux-fvpEjhQoUIuixMSYZ5=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNzlVzLAbobdHNokPRG3W8l7BJghXkMS_uSncr5YIsz_87FgGLOydNqWFOkkOt-MsBireT8QWZ8EWya96lQ__u4E_tE3CEIWIMU2X7lCnV2Yc-a21oR=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM78V1u7CD_hzTqMGl2HMNxHTx6KCTQab0NTVcL1figmenPfpMKrn3aB-vWiB-Gxddk5InfQ7urpDQ13Fs20zVv3YYgwBZfwSahYxFsI6pX9bfq7JRj=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOJhg7AJ0Nj8t4_TnpttlvKkVDS8ylhesoRtw-mW0O4UQzSe9T-ctHEFBzTSkDH3n9WVHfYe5pv3TR5AICIF226MI5vKQIWU3Bghpemz1X1w8C9bivO=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPEEgDQ6WyvQeWkJC-AGBqH30RURYolmZqQkLbaWdt_Te8TMIAQCRxCH4DIPmZFowTUDUI87NMp84YLAkTEdSPeWB2A50ER0HrBh5q9a27s91jor6Hy=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMWHS1KMMBGeb6SwtUlfnrZeCU4nOss_jlNv3aFCmdpvG2VMcVW1xKg5pKif3FLDvbe_qfcveTcXo0ZDDRJfJAznqbsuXXCbSzxEjnuWJPA0nAMfiqg=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNMZR15m4rFps1pYrq1f1TKrkkJ8ZIAbhdVjNyMYohcxb-JSJwC_5qBNrv_8XCvr0lI9M_Z6g-Iz1iZnqOV8-CgXX0rUos4JjUH0Sp0-veSgY7DLNgV=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczM-ANE-XNhyp2bxM2S2jThYIKy7JVg76t4Zx_9PgtJ9B8pB_qFmiqmM5EYXyiUhLq9_ejtXHctcfNXJ2AHB5S2oOV9HY84HNusbSgugTk0eKla629Ya=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPq7g8yOWpGyBdkfzRQH6YwhlxntNBpcXrTCWerInmhvM5GYD5YXv2YnElb52kqux0ZSHmRZIezVn8vt92eVKMQRls_mUA2fYjeDrSifPuji-HrKGH5=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMPLaIH8YMHg-so4geBhjyvZWd6b1ruq97tR1j_4N3a0qPgFtcDnz_PWJBS4dEzWAUZFGIiEDbulvgut6COUWlksd1bAabR-hwU0eGNpPaZBDcZsgJt=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMO5rblDU3rll_KnJ5_gxA4ZVdDOZ8iwjeeisE6aZgLux1I5r4obVJbaQ6Ivr_ONXs_YmDJNi4ipLKRgo7Qmt3jSEavH9NgYytpvTzoapgZjx9X--0I=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMovTzekGwGVMMKf0qtG_D6Qy8l3lHPX7Rul-PODkY_e54JtIiDAqwyELwyQth5T6hu3-IQFVnEIMxaxosfmT-ey2ZfGclT7P-BFVhFqbMMTt9l8r-Q=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOuqdnSdmkjXqcEILRTc2X-aiNnJvCXxVHQpIJsw3YrMwIiYtpkFxBH27fylH-BHA6pLiakqSml-EUBGSCrKTs7KtGrRmjpMXEUaxI8xDxjrH3Hoh7V=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOESm_KI1rDa0MgbSaHoPONA8aBrL3JpztqRSJ57msOrFaAdRZkTFlv89pGkCpph2uC75XX8YBIMnhHKshqMPog7Xd44Wv3iiO2ecCZpQCOgvF0AM60=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMhRqdI0JCqKfd6ifsxdEpZ55QjsGLE7J89A-wSctELHkAwwSwgjFgbR4-WaYxxtDmTpqEZ4z__MAe-WpxcuO1LUPB3zow9nDKuVnqxB6bWaHY2lReL=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPYvjPBFMx7qsZ2Je5KFTvGqFDGuhMC-QMxzYsWlEDS2EKs_o2YZVR-YwtdE-NB7OuMbvQCOxKeNAWn__Lyv0zwy5LLo-DVCPkVyspo8g2GMdccblF1=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczP5xyEd1utTUJw3QQbyAEdEPhPkNMQ81Sa5IwhULI_tm9HEwM1VqhYzZNRg1AyK4TQrO_pzUw-D99Ny-QBoWWLDnuKgTvLx_pWtmv5RR-cOB86U65rf=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPUeM-dcq3iDUEP_CRYjgTHhE698QgSeEnVND2uXNTLbAq3Qi4LDLWWu6ZXmHuauH4eKwPGgPrRi4Sa0vZlpg4kbeor5VPUSoiQDFLws97pus2BAaQZ=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczN1qVVDbtdkLYc8AqhnjP8zQdmtCGZmIxr3n4y4oIDd7HPlKu8hWpSCzVCXEy1PkN7nXA7apYQFIpTamOGtqUZ9FHb3xO6Cgm2p19gN-YDlfyt7Bhk2=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMx9B74d8kGfu5Jgx7iitRNfSKvk5IVKTVSr3BuN8zaiLe-kt8OVSktt2nhR6J_9XuvKohq6k2s6jMTUno8Os2wfwoWaERlAIswvDLaOMeHW2Gbr5Ks=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMwqCrDMXpPCIMzxwJNmUOtWzKdJOIq_d7PjT0HFV50bNaJ4WPE4AeCRsGoH_MIqEuERWwxqSNjFHp07WW-YpsI9d3GxivDxroSyiehMyXBpVHfxwRd=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMRFchx7sA6oRwbGLZnBybqZNUhqGnKvmuXWvL2eGyOdYdBgkfEmZvvfxFYruHMr8J6DfUCjfFZR2F09KVLYhOxFjz41vBPyDrXm7LMKUejx2M6xzh4=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOxDTVLBZewLAxolFJwjMOj_1QFYFpGWdlB5TnVG6kwX3Vv-oZaSKaVmIamjVRpd794OnT86Ac1ZdP6R1-cbUtJILz2DP7knl1j24LrNzPL82-HqS20=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNVPCNkYzcdHkTRtFb71bmGW-vPZlaDmDjjyUaJDwvSfNEOq64qp-skH6GA9rXIQWABPCTL0pMWqi1ylfxKYuZitab5ixWzJz9Exth9dzFvOiF8mBGS=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczP28DoETD0bOV8sSqlC7Y74zFtPaTTquDTl8m5EN3qHj3Ik7CWxTbQEn6T1Mp0aem2xsFiO9I_VpC0G5zqSug3QQTKfw6b6oHz9koIxiaEND8zn4TEf=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNHt4WZOkN37YCl_eEyzZGw56yjn2yVULfqUSdzFPLiECUlOkH2_dQ6hsyTQM11w59HxEOcq8NwaxY3mhLGq-dWyGHTQwPbbFeobJ4XtytDmSq6ACVy=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMXICcuFsDo8291hcbRw6VQZ9c4kLU1k0gmU54fXE3-iieU_4pFwsPU3vGc1Tke9Z4PUNSPZn18y4D4lQhAofTTt2T7j203ZlfPXgpe6xgOfnLfslX-=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczN7AZxDATPueu-tlEbLAhFiz1-Nxhe1ukG9X9yDQjq34UDsnxM-KUubYVnx-XFcRFddbfcX59T_Nyzw0BbyOZN0noYw29ZU3BzTiXzfnl_hNQMHnLAx=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPOZHLGdLcf4tFNNyhWRYSdlCC_l22RHEacd99W8qIMolmkDsZpit0GZuVvuTextNelIbBcdPWJ8h2ki9kkpESRtNq39H5hJd_MNcJCqUBX4KJYJngE=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOUovPR9Lahy-La2S_N1IfFe6DMs8KIOCG8EJIVumZzuMduf-35jK_8mgs5w6poWBtOQLWarny7293pqbmmjBgrBu46hRC_Ndr-UltB88nj9_jtKfTX=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczPBA2SE5sSth6xNJTHkEb8KeaDSi6-6QsJ0nPbZhfP_hvpuCU1OJkEE-neU3L1rMOEdylld8ps3Csq-a2ZAKyRR_JFueoA5cJOPJ-tsOy3ByQjAmHV7=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOD-86b_t0M4fonXzx8C5Ua9AaqUOyl2pEGEtVvHpVGb4RcDhvTbPgNxZGLxi3dDWKyaXcqElF3Wk_hL6FXgmoq3echZrpB9yy7l2WudrCv89gwRQR_=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNEkzpZRCBwBojjT83SjDuxv0SkPzL2jAJEsOJwYrBsLLF4OrPiLT_Hubv0Nd-nHP7ReMy73SlHSnZzLCjAasoEmm3zEoiku53nivgvxRR-KMpY7YRd=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMOnAmQnK3iXNF5jSKUOO8XnXOY8Q0NYGjOhmY-Yt2gH2PtdBvGzM14d_tIN678ZQm2XHQy0g1PYCyhaxfTWdrOY0BqdIZ-MqJNMMyLkVIbwsHxEQQF=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczOfGQUF6X6z0iGoDItz_Cv9UA_v5Pqmzgc-4SJm0P5fOXmTwoSHZw1hYpyn-Wx24_JvK4UM118p977uNpkgVVPq7zbjFvLvFBckLwNfq5i1dBkb7lPc=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczMidDc7qxfrJnTiftGoIT4C-fmU78JboBcwqtC70rwkyrtBeCxaIxWzr8X61rjNL9CqGhzvMbUtOK9X_qmSOoS1mR2q6miAmGg4OppmylLy2JXAM93H=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNyjA1Zdq9fO9S83sMGXxlv503Rn4En5ZwnEocie-pHO__LTEXz2VB8jNHWzoUf1zblzrNmSpCUK7uRzmSY9Vvlp4HAdSE8EWBww9U2JpkgXMD_yPz3=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczN867MddQpP4dPnZ4-FibKA6B6Au_QnD3AViZ-Gbe6mNTpQyT7c9eMKmICq5irzM47FxnYgFiesLj8a8goALXkgy3SC2t1PsJss6vNbCUlGZvDJ9HOI=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNkRBuoGXQ1VzQh6N0ALtwWxCabUE69TwxuK2r1XWtofA3EZRK6gtZoJfCiD8E1YBvbQVK57fTUXpsIbY1K3C4Ne9UgxPVTeqV81Djgm29cHIteW-Nt=w1920-h1080"></object>
                    <object
                        data="https://lh3.googleusercontent.com/pw/AP1GczNSPS71Ne9L8V1Q6lkjw2QBX7uyOpkF1sKGjs25nci5FG7Rvzm5gqWmlKYDYWvwUTWisU4H7Kmb60Y2z4wj_TCn4nwFdnfvn5Ba5XdIGGCFJKnd-jom=w1920-h1080"></object>
                </div>
            </div>
        </section>




    </div>

    <!-- Redes sociales -->
    <div class="social-media">
        <h2>Síguenos:</h2>
        <a href="https://wa.me/573002039432?text=Hola quisiera saber acerca de la academia" class="social-icon"
            target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/changhuncolombia/" class="social-icon" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/changhuncolombia/?locale=es_LA" class="social-icon" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.tiktok.com/@changhuncolombia" class="social-icon" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="https://www.youtube.com/@ChangHunColombia/featured" class="social-icon" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <!-- Scripts -->
    <script src="js/scripts.js"></script>
</body>


</html>